@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@{ ViewData["Title"] = "Katagoriya";
    int count = 0; }
@model IPagedList<Product>
<div class="container">
    <h1 style="margin-top:1rem">Products</h1>
    <a style="margin-bottom:1rem" class="btn btn-warning" asp-action="create">New Products</a>
    <div class="col-lg-12">
        <form method="get" asp-action="index" class="my-3">
            <div class="row d-flex align-items-center">
                <div class="col-xl-3">
                    <select class="form-control" name="deleted">
                        <option value="">All Products</option>
                        <option value="false">New Products</option>
                        <option value="true">Deleted Products</option>

                    </select>
                </div>
                <div class="col-xl-6">
                    <input type="text" name="search" class="form-control filter" autocomplete="off" value="@ViewBag.search" id="exampleInputEmail1" placeholder="Search..." />
                </div>
                <button type="submit" class="btn btn-secondary my-2">Search</button>
            </div>

        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Category Name</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Count</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                if (item.IsDeleted == true)
                {
<tr>
    <th scope="row">@count</th>
    <td style="color:red">@item.SubCategory.Name</td>
    <td><img style="width:120px;" src="~/uploads/product/@item.ProductImages.FirstOrDefault(x=>x.IsPoster==true)?.Image" /></td>
    <td style="color:red">@item.Name</td>
    <td style="color:red">@item.SalePrice</td>
    <td style="color:red">@item.Count</td>
    <td><a class="btn btn-success berpa-btn" data-id="@item.Id" data-name="product" asp-route-id="@item.Id">Edit</a></td>

</tr> }
                else
                {
<tr>
    <th scope="row">@count</th>
    <td>@item.SubCategory.Name</td>
    <td><img style="width:120px;" src="~/uploads/product/@item.ProductImages.FirstOrDefault(x=>x.IsPoster==true)?.Image" /></td>
    <td>@item.Name</td>
    <td>@item.SalePrice</td>
    <td>@item.Count</td>
    <td><a class="btn btn-success" asp-action="edit" asp-route-id="@item.Id">Edit</a></td>
    <td><a class="btn btn-danger delete-btn" data-id="@item.Id" data-name="product" asp-route-id="@item.Id">Delete</a></td>
    <td><a asp-action="comments" asp-route-productId="@item.Id" class="btn btn-primary">Comments (@item.ProductComments.Count())</a></td>


</tr>}
            }

        </tbody>
    </table>
</div>

<div class="pull-right d-flex justify-content-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),

    new PagedListRenderOptions
    {
      LiElementClasses = new string[] { "page-item" },
      PageClasses = new string[] { "page-link" },
      Display = PagedListDisplayMode.IfNeeded

    })
</div>