@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<Color>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="container">
    <h1 style="margin-top:1rem">Colors</h1>
    <a style="margin-bottom:1rem" class="btn btn-primary" asp-action="create">New Color</a><div class="col-lg-12">
        <div class="col-lg-12">
            <form method="get" asp-action="index" class="my-3">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-3">
                        <select class="form-control" name="deleted">
                            <option value="">
                                All Color
                            </option>
                            <option value="true">Deleted Color</option>
                        </select>
                    </div>
                    <div class="col-xl-6">
                        <input type="text" name="search" class="form-control filter" autocomplete="off" value="@ViewBag.search" id="exampleInputEmail1" placeholder="Search..." />
                    </div>
                    <button type="submit" class="btn btn-secondary my-2">Search</button>
                </div>

            </form>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Adı</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                if (item.IsDeleted == true)
                {
                    <tr>
                        <th scope="row">@count</th>
                        <td style="color:red">@item.Name</td>
                        <td><a class="btn btn-success berpa-btn" data-id="@item.Id" data-name="color" asp-route-id="@item.Id">Edit</a></td>

                    </tr>
                }
                else
                {
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.Name</td>
                        <td><a class="btn btn-success" asp-action="edit" asp-route-id="@item.Id">Edit</a></td>
                        <td><a class="btn btn-danger delete-btn" data-id="@item.Id" data-name="color" asp-route-id="@item.Id">Delete</a></td>

                    </tr>
                }
            }

        </tbody>
    </table>
</div>


<div class="pull-right d-flex justify-content-center">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }),

    new PagedListRenderOptions
    {
      LiElementClasses = new string[] { "page-item" },
      PageClasses = new string[] { "page-link" },
      Display = PagedListDisplayMode.IfNeeded

    })
</div>